@use '@angular/material' as mat;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}


h1 {
  font-family: 'Lexend', sans-serif;
}