/* =========================================================
   Angular Material – Theme & Design Tokens
   ========================================================= */
@use '@angular/material' as mat;
@use 'scss_styles/index' as *;

/* Material Theme */

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Inter,
      density: 0,
    )
  );
}

/* Material Component Overrides (Tokens) */

/* =========================================================
   Global Layout & Typography
   ========================================================= */
body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

/* =========================================================
   Global Utilities
   ========================================================= */

.full-width {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.d-none {
  display: none;
}




